# Exerice 00

In [2]:
def read_file(file_path):
    with open(file_path, mode='r', newline='') as file:
            return file.readlines()

def data_conversion(data, write_csv):
    with open(write_csv, mode='w', newline='') as file:
        for line in data:
            line = line.replace('\t', ',')
            file.write(line)

In [3]:
data = read_file('../data/feed-views.log')
data_conversion(data, '../data/feed-views.csv')

In [4]:
import pandas as pd

## 1. read_csv

- Отфильтруйте строки с индексами 2 и 3, используя аргумент **skiprows**, мы знаем, что эти наблюдения были поддельными;
- Отфильтруйте последние 2 строки из нижнего колонтитула, используя аргумент **skipfooter**, мы знаем что эти наблюдения тоже были поддельными;
- Присвойте столбцу следующие имена: datetime, user;
- Используйте datetime в качестве столбца индекса;

In [5]:
df = pd.read_csv('../data/feed-views.csv', skiprows=[2, 3], skipfooter=2, names=['datatime', 'user'], header=0, index_col=0, engine='python')
df.head()

                              user
datatime
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana
2020-04-17 13:55:19.129243   artem

In [6]:
df.tail()

                                 user
datatime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

## 2. Переименуйте datetime в date_time

In [7]:
df.index.names = ['datr_time']
df

                                 user
datr_time
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
2020-04-17 13:55:19.129243      artem
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1071 rows x 1 columns]

## to_csv

- Используйте ’;’ в качестве разделителя; 
- Сохраните его в файл с именем feed-views-точка с запятой.log;

In [8]:
df.to_csv('../data/feed-views-semicolon.log', sep=';')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1071 entries, 2020-04-17 12:01:23.743946 to 2020-05-21 23:23:49.995349
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   user    1071 non-null   object
dtypes: object(1)
memory usage: 16.7+ KB